{% extends "::base.html.twig" %}

{% block title %}AdoptionBundle:WishlistAdoption:AddWishlist{% endblock %}

{% block body %}
<h1>Welcome to the WishlistAdoption:AddWishlist page</h1>
{% endblock %}
