{% extends "::base.html.twig" %}

{% block title %}AdoptionBundle:WishlistAdoption:DeleteWishlist{% endblock %}

{% block body %}
<h1>Welcome to the WishlistAdoption:DeleteWishlist page</h1>
{% endblock %}
