{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <style>
        h4{
            color: white;
        }
    </style>
    <div style="color: orange;height: 200px;background-color: orange">

<h4>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</h4>
    </div>

{% endblock %}
