
{% extends "::layoutHome.html.twig" %}

{% block titre %}AdoptionBundle:Default:index{% endblock %}

{% block content %}


<div id="wrapper">

    <div class="slider-section">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-thumb="upload/slider_04.jpg" data-saveperformance="off" data-title="">
                        <img src="{{ asset('client/upload/xslider_04.jpg.pagespeed.ic.ZxzBCdh6l1.jpg') }}" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption slider_layer_01 text-center lft tp-resizeme" data-x="center" data-y="262" data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Perfect <strong>Products</strong>, Lovely <strong>Pets</strong>
                        </div>


                    </li>
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-thumb="upload/slider_03.jpg" data-saveperformance="off" data-title="">
                        <img src="{{ asset('client/upload/xslider_03.jpg.pagespeed.ic.1_5430mnoO.jpg') }}" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption slider_layer_01 text-center lft tp-resizeme" data-x="center" data-y="262" data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Happy Pets Happy Clients
                        </div>
                        <div class="tp-caption slider_layer_02 text-center lft tp-resizeme" data-x="center" data-y="355" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Best Services..
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}